@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html, body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #456456;
    overflow-y: auto;
    width: 300px;
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 9997;
}

#header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #d3dddc;
    border-radius: 50%;

}

#header .profile h1 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
}

#header .profile .social-links a {
    font-size: 1.5rem;
    background: #d3dddc;
    color: #456456;
    padding: 0.6rem;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
    position:relative
}

#header .profile .social-links a:hover {
    background: #fdd16c;
}

#header .profile .social-links a:hover::after {
    content: attr(aria-label);
    font-size: 0.8rem;
    display: block;
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
}

#header .profile .social-links a i {
    display: block;
    width: 2rem; /* Largura fixa para todos os ícones */
    height: 2rem; /* Altura fixa para todos os ícones */
    line-height: 2rem; /* Centralizar o ícone verticalmente */
    text-align: center;
    border: 2px solid transparent; /* Adicionar border */
}

.nav-menu {
    padding: 1.5rem;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #c7b19d;
    transition: 0.3s;
    border-bottom: 2px solid #fdd16c;
    padding-bottom: 0.5rem;
}

.nav-menu a i,
.nav-menu a:focus i {
    padding-right: 0.8rem;
    font-size: 24px;
    color: #fdd16c;
}

.nav-menu a:hover,
.nav-menu a.active,
.nav-menu a.active:focus,
.nav-menu li:hover > a {
    text-decoration: none;
    color: #fff;
    border-bottom-color: transparent;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
    color: #d3dddc;
}

#main {
    margin-left: 300px;
}

section#inicio {
    background-image: url("./img/bannerPortfolio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
}

section#inicio h2 {
    font-size: 5rem;
}

section#inicio span#subtitle {
    margin-right: 8rem;
    font-size: 1.5rem;
}

.text-shadow {
    text-shadow: 4px 4px 10px #d3dddc;
}

section#inicio div#arraste {
    width: 9rem;
}

section#inicio div#arraste a {
    color:#000000;
    text-decoration: none;
}

i.menu-mobile {
    position: fixed;
    color: #456456;
    background-color: #c7b19d;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    border-radius: 4rem;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: center;
}

.menu-nav-active {
    overflow: hidden;
}

.menu-nav-active #header {
    left: 0;
}

[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime="down"] {
    transform: translate3d(0, -100%, 0);
}

[data-anime="up"] {
    transform: translate3d(0, 100%, 0);
}

[data-anime="left"] {
    transform: translate3d(-100%, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(60%, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@media (max-width: 1024px) {
    #header {
        left: -300px;
    }

    #main {
        margin-left: 0;
    }

    i.menu-mobile {
        display: flex;
    }

    section#inicio h2 {
        font-size: 3rem;
    }

    section#inicio span#subtitle {
        margin-right: 0;
        font-size: 1rem;
    }

    [data-anime="right"] {
        transform: translate3d(-100%, 0, 0);
    }
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    width: 12px;
    box-shadow: inset 0 0 .3rem #00000050;
    background-color: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background-color: #456456;
    border-radius: 10px;
}

.section-bg {
    background-color: #f1f1f1;
}

.cv .cv-title{
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333333
}

.cv .cv-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #456456;
    position: relative;
}

.cv .cv-item h4 {
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    color: #222222;
    margin-bottom: 10px;
}

.cv .cv-item h5 {
    background: #d3dddc;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.cv .cv-item::before{
    content: "";
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #456456;
    background: #fff;
    left: -9px;
    border-radius: 50%;
}