<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/svg" href="../static/img/star.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/academicons/academicons-1.9.4/css/academicons.min.css">
    <title>Portfólio - Marcelo Pereira</title>
</head>

<body>  

    <i class="bi bi-list menu-mobile"></i>
    
    <aside id="header">
        <section class="profile">
            <img src="../static/img/profile.jpg" alt="Foto de perfil">
            <h1>Marcelo Pereira</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" aria-label = "Lattes" href="http://lattes.cnpq.br/0526007505238764">
                    <i class="ai ai-lattes"></i>
                </a>
                <a target="_blank" aria-label = "Orcid" href="https://orcid.org/0000-0002-4219-5147">
                    <i class="ai ai-orcid"></i>
                </a>
                <a target="_blank" aria-label = "GitHub" href="https://github.com/tbmpereira">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" aria-label = "ResearchGate" href="https://www.researchgate.net/profile/Marcelo-Pereira-44">
                    <i class="ai ai-researchgate"></i>
                </a>
                <a target="_blank" aria-label = "mapereira@ufmg.br" href="mailto:mapereira@ufmg.br">
                    <i class="bi bi-envelope-fill"></i>
                </a>

            </div>
        </section>
        <section>
            <nav id="navbar" class="nav-menu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#inicio">
                        <i class="bi bi-house"></i>Início</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#sobre">
                        <i class="bi bi-person"></i>Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#formacao">
                            <i class="bi bi-file-earmark" aria-hidden="true"></i>Formação</a>
                      <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#habilidades">
                            <i class="bi bi-card-checklist"></i>Habilidades</a>
                      </li>
                        <a class="nav-link" href="#recursos">
                            <i class="bi bi-book"></i>Recursos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#links">
                            <i class="bi bi-share"></i>Links</a>
                      </li>
                  </ul>

            </nav>
        </section>

    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center 
            align-items-center flex-column">
                <h2 class="text-shadow">Marcelo Pereira</h2>
                <span id=""subtitle" class="text-shadow">
                    Divulgação Científica e Percepção Pública da Ciência</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end
            align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-black pe-2 fs-2"
                    aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>
        <section class = "container mt-5" id ="sobre">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre mim</h2>
                    <p data-anime="down">Entrei na Universidade Pública em 2001 e nunca mais deixei o meio universitário. 
                        Graduei-me em Secretariado Executivo pela Universidade Federal de Viçosa em 2006 e 
                        em 2008 assumi o cargo de técnico-administrativo na Universidade 
                        Federal de Minas Gerais, onde tenho atuado desde então na Pró-Reitoria de  
                        Extensão Universitária. Sou também especialista em Estudos Latinoamericanos 
                        pela Universidade Federal de Juiz de Fora (em parceria com a Escola Nacional 
                        Florestan Fernandes), e o interesse pela América Latina me levou cursar, entre 2014 e 2016, 
                        um mestrado em Estudos Latinoamericanos na Universidade Paris-3 Sorbonne Nouvelle, 
                        na França. Ao regressar ao Brasil, fui apresentado à temática da comunicação pública 
                        da ciência, sendo alocado na Diretoria de Divulgação Científica da UFMG. Rapidamente, 
                        minha atuação profissional se tornou uma militância e, mais tarde, um objeto de pesquisa. 
                        Acredito que a ciência é parte fundamental da vida contemporânea e do exercício democrático. 
                        Cada vez mais, as decisões cruciais de nosso destino como gênero humano 
                        passam necessariamente pela ciência. É um direito da população ter acesso aos 
                        resultados e impactos da ciência, assim como participar das decisões tecnocientíficas 
                        que afetam diretamente suas vidas. Da mesma forma, a comunidade científica tem
                         o dever de se comunicar com a sociedade, não apenas informando sobre suas atividades, 
                         mas também ouvindo as demandas sociais e reconhecendo outras formas de conhecimento. 
                         É com base nesses princípios que tenho me dedicado a me tornar um pesquisador dos 
                         estudos sociais da ciência e tecnologia, escolhendo a sociologia como minha 
                         disciplina de atuação.</p>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <img src="../static/img/profile.jpg" alt="Foto de perfil" 
                        class="img-fluid shadow" data-anime="left">
                    </div>
                    <div class="col-md-8" data-anime="right">
                        <h3>Doutorando em Sociologia</h3>
                        <h4>na UFMG</h4>
                        <p>Em 2024, ingressei no <a target="_blank" href = "https://www.fafich.ufmg.br/ppgs/">doutorado em Sociologia na Universidade Federal de 
                            Minas Gerais (UFMG)</a>, com foco na linha de pesquisa "Sociologia do 
                            Conhecimento". Este doutorado é a continuação da pesquisa que desenvolvi no mestrado, 
                            realizado no mesmo programa entre 2021 e 2023. Sou orientado pelo professor Yurij Castelfranchi e faço parte 
                            do Observatório Interdisciplinar <a target="_blank" href ="https://www.fafich.ufmg.br/incite/">InCiTe (Inovação, Cidadania, Tecnociência)</a>,
                             além de integrar o Grupo de Pesquisa Ciência, Comunicação e Sociedade. 
                             Meu objeto de pesquisa concentra-se na análise da percepção dos cientistas 
                             sobre a divulgação científica e interação entre a ciência e a sociedade.</p>
                        <h3>Secretário Executivo</h3>
                        <h4>na Diretoria de Divulgação Científica da UFMG</h4>
                        <p>Desde 2017 integro a equipe da Diretoria de Divulgação Científica, ligada à 
                            <a target="_blank" href="https://www.ufmg.br/proex/">Pró-Reitoria de Extensão da UFMG</a>. A DDC tem como objetivo coordenar as 
                            políticas de divulgação científica da UFMG, assim como coordenar e apoiar a 
                            Formação Transversal em Divulgação Científica, realizar eventos de destaque 
                            na UFMG, como a Feira da Educação Básica <a target="_blank" href = https://www.ufmg.br/ufmgjovem/">UFMG Jovem</a>,
                            coordenar o
                            <a target="_blank" href="https://www.ufmg.br/cevex/">Centro Virutal de Memória da Extensão (CEVEX)</a>, e outras funções.</p>
                    </div>
                </div>

            </div>

        </section>
        <section id="formacao" class="mt-5 cv section-bg">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Formação</h2>
                <div class="row">
                    <div class="col-md-12">
                        <div class="cv-item" data-anime="up">
                            <h4>Doutorado em Sociologia</h4>
                            <h5>2024-(em andamento)</h5>
                            <p><em>Universidade Federal de Minas Gerais</em></p>
                            <p><strong>linha de pesquisa</strong>: "Sociologia do Conhecimento". 
                                <strong>objeto de pesquisa</strong>: percepção dos cientistas sobre a divulgação científica.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Mestrado em Sociologia</h4>
                            <h5>2021-2023</h5>
                            <p><em>Universidade Federal de Minas Gerais</em></p>
                            <p><strong>linha de pesquisa</strong>: "Sociologia do Conhecimento". 
                                <strong>objeto de pesquisa</strong>: percepção dos cientistas sobre a divulgação científica.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Master 1 em Estudos Latinoamericanos</h4>
                            <h5>2014-2015</h5>
                            <p><em>Université Paris-3 Sorbonne Nouvelle</em></p>
                            <p><strong>disciplina</strong>: sociologia.
                                <strong>objeto de pesquisa</strong>: sindicalismo e terceirização na América Latina.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Especialização em Estudos Latinoamericanos</h4>
                            <h5>2006-2008</h5>
                            <p><em>Universidade Federal de Juiz de Fora e Escola Nacional Florestan Fernandes</em></p>
                            <p>curso de formação para militantes sociais, com formação voltada para a formação política, histórica, econômica e cultural da América Latina.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Graduação em Secretariado Executivo Trilíngue</h4>
                            <h5>2001-2006</h5>
                            <p><em>Universidade Federal de Viçosa</em></p>
                            <p>curso de graduação voltado para a formação de profissionais para a gestão secretarial de organizações com ênfase especial em língua portuguesa e estrangeira (francês e inglês).</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="habilidades" class="mt-5">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Aqui destaco algumas das competências adquiridas ao longo de minha trajetória
                    acadêmica e profissional. Essas habilidades são fundamentais para minha atuação
                    em diversas áreas e refletem minha capacidade de adaptação e aprendizado contínuo.
                    Abaixo, apresento uma visão abrangente das habilidades que desenvolvi e que 
                    contribuem para meu perfil como profissional e acadêmico:</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Análise Quantitativa</p>
                        <div class="progress" role="progressbar" aria-label="quantitativa" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%" data-anime="left"></div>
                        </div>
                        <p class="mt-3 mb-0">Correlação</p>
                        <div class="progress" role="progressbar" aria-label="correlacao" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%" data-anime="left"></div>
                        </div>
                        <p class="mt-3 mb-0">Análise de Classes Latentes</p>
                        <div class="progress" role="progressbar" aria-label="acl" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%" data-anime="left"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Text as Data</p>
                        <div class="progress" role="progressbar" aria-label="textasdata" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%" data-anime="left"></div>
                        </div>
                        <p class="mt-3 mb-0">Elaboração de questionário</p>
                        <div class="progress" role="progressbar" aria-label="questionario" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%" data-anime="left"></div>
                        </div>
                        <p class="mt-3 mb-0">Lime Survey</p>
                        <div class="progress" role="progressbar" aria-label="limesurvey" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%" data-anime="left"></div>
                        </div>
                    </div>
                </div>
                <hr class="w-50 me-auto ms-auto">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="python" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%" data-anime="left"></div>
                        </div>
                        <p class="mt-3 mb-0">R</p>
                        <div class="progress" role="progressbar" aria-label="r" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 65%" data-anime="left"></div>
                        </div>
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress" role="progressbar" aria-label="sql" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 60%" data-anime="left"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML, CSS, JavaScript</p>
                        <div class="progress" role="progressbar" aria-label="htmlcssjs" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 60%" data-anime="left"></div>
                        </div>
                        <p class="mt-3 mb-0">Webscrapping</p>
                        <div class="progress" role="progressbar" aria-label="webscrapping" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%" data-anime="left"></div>
                        </div>
                        <p class="mt-3 mb-0">Visualização de dados (ggplot e matplotlib)</p>
                        <div class="progress" role="progressbar" aria-label="dataviz" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%" data-anime="left"></div>
                        </div>
                    </div>
                </div>
                <hr class="w-50 me-auto ms-auto">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação em Público</p>
                        <div class="progress" role="progressbar" aria-label="comunicacaopublico" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%" data-anime="left"></div>
                        </div>
                        <p class="mt-3 mb-0">Coordenação de Equipes</p>
                        <div class="progress" role="progressbar" aria-label="coordequipes" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%"  data-anime="left"></div>
                        </div>
                        <p class="mt-3 mb-0">Gestão de projetos</p>
                        <div class="progress" role="progressbar" aria-label="gestaoprojetos" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%"  data-anime="left"></div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Inglês</p>
                        <div class="progress" role="progressbar" aria-label="english" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%" data-anime="left"></div>
                        </div>
                        <p class="mt-3 mb-0">Francês</p>
                        <div class="progress" role="progressbar" aria-label="français" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%" data-anime="left"></div>
                        </div>
                        <p class="mt-3 mb-0">Espanhol</p>
                        <div class="progress" role="progressbar" aria-label="espanol" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%" data-anime="left"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="recursos" class="mt-5 section-bg">
            <div class="container pb-5 pt-5">
                <h2 class="pb-4">Recursos</h2>
                <p>Esta sessão será atualizada com recursos como publicações e apresentações para os interessados em conhecer minhas contribuições acadêmicas mais relevantes.</p>
                <div class="row pt-5">
                    <div class="col" data-anime="left">
                        <h3>Publicações</h3>
                        <div class="card">
                            <img src="../static/img/reitoria.jpg" class="card-img-top" alt="Reitoria da UFMG">
                            <div class="card-body">
                                <h5 class="card-title">Dissertação de Mestrado</h5>
                                <p class="card-text">PEREIRA, Marcelo. <strong>Ciência, sociedade, divulgação científica:</strong> a visão dos cientistas. 2023. 167 p. Dissertação de Mestrado em Sociologia – Universidade Federal de Minas Gerais, Belo Horizonte, 2023. Disponível em: <a href="http://hdl.handle.net/1843/55328">http://hdl.handle.net/1843/55328</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-anime="right">
                        <h3>Divulgação</h3>
                        <div class="card">
                            <div style="position: relative; overflow: hidden; padding-top: 56.25%;">
                                <iframe src="https://www.youtube.com/embed/h4IQ5_eEfCI?si=qDV6Jfq6tOq_GV4q" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Ciência, sociedade, divulgação científica: a visão dos cientistas</h5>
                                <p class="card-text">Resultados do Mestrado divulgados no canal do INCT-Comunicação Pública da Ciência e Tecnologia.</p>
                            </div>
                        </div>
                        <div class="card mt-5">
                            <div style="position: relative; overflow: hidden;">
                                <iframe src="https://open.spotify.com/embed/episode/2pPR5varxaH3YeDZsUubdP?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Por uma ciência mais democrática</h5>
                                <p class="card-text">Resultados do Mestrado divulgados no podcast do portal Humanamente.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="links" class="mt-5">
            <div class="container pb-5">
                <h2 class="pt-5">Links</h2>
                <p>Confira abaixo algumas indicações de grupos de pesquisa e projetos 
                    que trabalham com divulgação científica e percepção pública da ciência.</p>
                    <div class="row row-cols-1 row-cols-md-2 g-4" data-anime="left">
                        <div class="col">
                          <div class="card">
                            <a target="_blank" href="https://www.fafich.ufmg.br/incite/">
                                <img src="../static/img/incite.png" class="card-img-top" alt="Logo do Observatório InCiTe">
                            </a>
                                <div class="card-body">
                              <h5 class="card-title">Observatório InCiTe</h5>
                              <p class="card-text">Inovação, Cidadania e Tecnociência</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <a target="_blank" href="https://inct-cpct.fiocruz.br/">
                                <img src="../static/img/inct_cpct.jpg" class="card-img-top" alt="Logo do INCT-CPCT">
                            </a>
                                <div class="card-body">
                              <h5 class="card-title">INCT-CPCT</h5>
                              <p class="card-text">Instituo Nacional de Ciência e Tecnologia - Comunicação Pública da Ciência e Tecnologia</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <a target="_blank" href="https://www.ufmg.br/ufmgjovem/">
                                <img src="../static/img/ufmg_jovem.png" class="card-img-top" alt="Logo da UFMG Jovem">
                            </a>
                                <div class="card-body">
                              <h5 class="card-title">UFMG Jovem</h5>
                              <p class="card-text">A UFMG Jovem é uma feira de ciências da educação básica realizada pela UFMG há 25 anos.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <a target="_blank" href="https://www.ufmg.br/cevex/">
                                <img src="../static/img/cevex.jpg" class="card-img-top" alt="Pessoas numa instalação artística">
                            </a>
                                <div class="card-body">
                              <h5 class="card-title">CEVEX</h5>
                              <p class="card-text">Centro Virtual de Memória da Extensão</p>
                            </div>
                          </div>
                        </div>
                      </div>
            </div>
        </section>

    </main>

    <footer id="footer">
        <div class="container">
            <div class=""text-center>
                <p>
                    <span class="copyleft">&copy;</span> Copyleft <strong>Marcelo Pereira</strong> |
                    <a href="mailto:mapereira@ufmg.br">mapereira@ufmg.br</a> |
                    <span class="year">2024</span>
                </p>
            </div>
        </div>

    </footer>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>



</html>